<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a mi blog!</title>
</head>

<body class="m-3">
    {% load bootstrap5 %}
    <h1 class="m-3">Agregando un nuevo Blog...</h1>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success m-3" type="submit" value="Guardar">
    </form>
    <footer>
        <a class="btn btn-info m-2 " href="{% url 'virginiaBlog_about' %}">About</a>
    </footer>
</body>

</html>