<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1 class="m-3">About</h1>
    <h3 class="m-2">Sobre mi proyecto</h3>
    <p class="m-2 font-weight-lighter">Este protecto fue desarrollado por mi como proyecto final para el curso de Python de CoderHouse.
        Consiste en un Blog en donde se pueden crear blogs siendo usuario registrado. No estando registrado,
        sólo se pueden ver los blogs. También se pueden crear usuarios, entrar a la cuenta, editar los datos de usuario y borrar
        y actualizar blogs.
    </p>
    <h3 class="m-2">Sobre mi</h3>
    <p class="m-2 font-weight-lighter">Mi nombre es Virginia. Tengo 24 años y soy estudiante de 4to año de la carrera de Ingeniería en Sistemas.
        Me gusta el desarrollo de aplicaciones web y todo lo relacionado a la tecnología.
    </p>
</body>
</html>